In [1]:
from dfconvert import df_store
import numpy as np

Ipython active

In [2]:
df = df_store('data').load_df()
df.head()

Loading pickle: data\data...
dataframe loaded successfully

,date,d1,d2,d3,d4,v,Year,Month,Week,Day,...,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,not_dupym,daysinmonth,aggdays,d1_lag-1
0,2002-03-03 19:04:00,0.6100,0.6100,0.6099,0.6100,0.0,2002,3,9,3,...,False,False,False,False,False,False,1,0,3,0.6100
1,2002-03-03 19:05:00,0.6100,0.6100,0.6099,0.6099,0.0,2002,3,9,3,...,False,False,False,False,False,False,0,0,3,0.6099
2,2002-03-03 19:06:00,0.6099,0.6099,0.6099,0.6099,0.0,2002,3,9,3,...,False,False,False,False,False,False,0,0,3,0.6099
3,2002-03-03 19:07:00,0.6099,0.6100,0.6099,0.6100,0.0,2002,3,9,3,...,False,False,False,False,False,False,0,0,3,0.6099
4,2002-03-03 19:08:00,0.6099,0.6101,0.6099,0.6101,0.0,2002,3,9,3,...,False,False,False,False,False,False,0,0,3,0.6099

In [3]:
df['d1'].head()

0    0.6100
1    0.6100
2    0.6099
3    0.6099
4    0.6099
Name: d1, dtype: float32

In [5]:
def datapoint_return(variable):
    returns = []
    for i in range(0, len(variable)-1):
        current = variable[i+1]
        previous = variable[i]
        datapoint_return = (current - previous)/previous
        returns.append(datapoint_return)
    return returns

returns = datapoint_return(df['d1'])

mu = np.mean(returns)          # drift coefficient
sig = np.std(returns) # diffusion coefficient

print(mu, sig)

8.703816e-08 0.00017802102

In [12]:
mu

8.703816e-08

In [13]:
sig

0.00017802102

In [6]:
mu * len(df['d1'])

0.47430470350502674

In [28]:
def mean_var_basic(mu, sig, r, a, T, N):
    gamma = a/(1-a)
    return ((mu-r)/(gamma*sig**2))*(1+r)**-(T-N-1)

mean_var_basic(mu * len(df['d1']), sig * len(df['d1']), 0.1, 0.1, len(df['d1']), len(df['d1'])-1)

3.579561150597459e-06

In [23]:
0.999/(1-0.999)

998.9999999999991