In [1]:
from dfconvert import df_store
import numpy as np

Ipython active

In [2]:
df = df_store('data.h5').load_df()
df.head()

Loading h5: data\data.h5...
dataframe loaded successfully

,date,Bar OPEN Bid Quote,Bar HIGH Bid Quote,Bar LOW Bid Quote,Bar CLOSE Bid Quote,Volume,Year,Month,Week,Day,...,Is_quarter_start,Is_year_end,Is_year_start,not_dupym,daysinmonth,aggdays,Bar OPEN Bid Quote_lag-1,Hour,Minute,Second
0,2002-03-03 19:04:00,0.6100,0.6100,0.6099,0.6100,0,2002,3,9,3,...,False,False,False,1,0,3,0.6100,19,4,0
1,2002-03-03 19:05:00,0.6100,0.6100,0.6099,0.6099,0,2002,3,9,3,...,False,False,False,0,0,3,0.6099,19,5,0
2,2002-03-03 19:06:00,0.6099,0.6099,0.6099,0.6099,0,2002,3,9,3,...,False,False,False,0,0,3,0.6099,19,6,0
3,2002-03-03 19:07:00,0.6099,0.6100,0.6099,0.6100,0,2002,3,9,3,...,False,False,False,0,0,3,0.6099,19,7,0
4,2002-03-03 19:08:00,0.6099,0.6101,0.6099,0.6101,0,2002,3,9,3,...,False,False,False,0,0,3,0.6099,19,8,0

In [3]:
df['Bar OPEN Bid Quote'].head()

0    0.6100
1    0.6100
2    0.6099
3    0.6099
4    0.6099
Name: Bar OPEN Bid Quote, dtype: float64

In [5]:
def datapoint_return(variable):
    returns = []
    for i in range(0, len(variable)-1):
        current = variable[i+1]
        previous = variable[i]
        datapoint_return = (current - previous)/previous
        returns.append(datapoint_return)
    return returns

returns = datapoint_return(df['Bar OPEN Bid Quote'])

mu = np.mean(returns)          # drift coefficient
sig = np.std(returns) # diffusion coefficient

print(mu, sig)

nan nan

In [6]:
mu

nan

In [7]:
sig

nan

In [8]:
mu * len(df['d1'])

KeyError: 'd1'

In [ ]:
def mean_var_basic(mu, sig, r, a, T, N):
    gamma = a/(1-a)
    return ((mu-r)/(gamma*sig**2))*(1+r)**-(T-N-1)

mean_var_basic(mu * len(df['d1']), sig * len(df['d1']), 0.1, 0.1, len(df['d1']), len(df['d1'])-1)

In [ ]:
0.999/(1-0.999)