In [1]:
from datetime import datetime
import pandas as pd
import main
df = main.json_load('x.json')

In [3]:
df.head()

                   date       rnd
0  1991-11-28T11:08:37Z  0.689287
1  1991-11-29T11:08:37Z  0.289864
2  1991-11-30T11:08:37Z  0.488486
3  1991-12-01T11:08:37Z  0.914304
4  1991-12-02T11:08:37Z  0.508845

In [6]:
import structure as s

In [20]:
df = s.date_split(df)

In [28]:
df[150:200]

                     date       rnd  year  month  week  day  hour  aggdays
150  1992-04-26T11:08:37Z  0.303999  1992      4    17   26    11      178
151  1992-04-27T11:08:37Z  0.248739  1992      4    18   27    11      179
152  1992-04-28T11:08:37Z  0.260793  1992      4    18   28    11      180
153  1992-04-29T11:08:37Z  0.037878  1992      4    18   29    11      181
154  1992-04-30T11:08:37Z  0.109462  1992      4    18   30    11      182
155  1992-05-01T11:08:37Z  0.787668  1992      5    18    1    11      183
156  1992-05-02T11:08:37Z  0.905293  1992      5    18    2    11      184
157  1992-05-03T11:08:37Z  0.871948  1992      5    18    3    11      185
158  1992-05-04T11:08:37Z  0.994951  1992      5    19    4    11      186
159  1992-05-05T11:08:37Z  0.132592  1992      5    19    5    11      187
160  1992-05-06T11:08:37Z  0.274559  1992      5    19    6    11      188
161  1992-05-07T11:08:37Z  0.204904  1992      5    19    7    11      189
162  1992-05-08T11:08:37Z  0.049685  1992      5    19    8    11      190
163  1992-05-09T11:08:37Z  0.630309  1992      5    19    9    11      191
164  1992-05-10T11:08:37Z  0.946025  1992      5    19   10    11      192
165  1992-05-11T11:08:37Z  0.722849  1992      5    20   11    11      193
166  1992-05-12T11:08:37Z  0.742210  1992      5    20   12    11      194
167  1992-05-13T11:08:37Z  0.627634  1992      5    20   13    11      195
168  1992-05-14T11:08:37Z  0.416411  1992      5    20   14    11      196
169  1992-05-15T11:08:37Z  0.701585  1992      5    20   15    11      197
170  1992-05-16T11:08:37Z  0.315752  1992      5    20   16    11      198
171  1992-05-17T11:08:37Z  0.747032  1992      5    20   17    11      199
172  1992-05-18T11:08:37Z  0.732383  1992      5    21   18    11      200
173  1992-05-19T11:08:37Z  0.297405  1992      5    21   19    11      201
174  1992-05-20T11:08:37Z  0.448273  1992      5    21   20    11      202
175  1992-05-21T11:08:37Z  0.465353  1992      5    21   21    11      203
176  1992-05-22T11:08:37Z  0.889559  1992      5    21   22    11      204
177  1992-05-23T11:08:37Z  0.360133  1992      5    21   23    11      205
178  1992-05-24T11:08:37Z  0.372577  1992      5    21   24    11      206
179  1992-05-25T11:08:37Z  0.333769  1992      5    22   25    11      207
180  1992-05-26T11:08:37Z  0.089540  1992      5    22   26    11      208
181  1992-05-27T11:08:37Z  0.502207  1992      5    22   27    11      209
182  1992-05-28T11:08:37Z  0.424550  1992      5    22   28    11      210
183  1992-05-29T11:08:37Z  0.170839  1992      5    22   29    11      211
184  1992-05-30T11:08:37Z  0.219794  1992      5    22   30    11      212
185  1992-05-31T11:08:37Z  0.089026  1992      5    22   31    11      213
186  1992-06-01T11:08:37Z  0.333647  1992      6    23    1    11      214
187  1992-06-02T11:08:37Z  0.067906  1992      6    23    2    11      215
188  1992-06-03T11:08:37Z  0.688787  1992      6    23    3    11      216
189  1992-06-04T11:08:37Z  0.094218  1992      6    23    4    11      217
190  1992-06-05T11:08:37Z  0.940820  1992      6    23    5    11      218
191  1992-06-06T11:08:37Z  0.796966  1992      6    23    6    11      219
192  1992-06-07T11:08:37Z  0.242107  1992      6    23    7    11      220
193  1992-06-08T11:08:37Z  0.230354  1992      6    24    8    11      221
194  1992-06-09T11:08:37Z  0.407371  1992      6    24    9    11      222
195  1992-06-10T11:08:37Z  0.751911  1992      6    24   10    11      223
196  1992-06-11T11:08:37Z  0.343006  1992      6    24   11    11      224
197  1992-06-12T11:08:37Z  0.894420  1992      6    24   12    11      225
198  1992-06-13T11:08:37Z  0.918597  1992      6    24   13    11      226
199  1992-06-14T11:08:37Z  0.057919  1992      6    24   14    11      227