In [1]:
from datetime import datetime
import pandas as pd
import extract as e
df = e.use_csvs()
df.head()

                 date       d1       d2       d3       d4    v
0 2018-01-01 17:01:00  0.88831  0.88831  0.88773  0.88773  0.0
1 2018-01-01 17:02:00  0.88800  0.88800  0.88800  0.88800  0.0
2 2018-01-01 17:03:00  0.88806  0.88806  0.88806  0.88806  0.0
3 2018-01-01 17:04:00  0.88806  0.88806  0.88806  0.88806  0.0
4 2018-01-01 17:05:00  0.88818  0.88818  0.88818  0.88818  0.0
5 2018-01-01 17:06:00  0.88812  0.88812  0.88812  0.88812  0.0
6 2018-01-01 17:07:00  0.88773  0.88773  0.88762  0.88768  0.0
7 2018-01-01 17:08:00  0.88770  0.88785  0.88770  0.88785  0.0
8 2018-01-01 17:09:00  0.88781  0.88795  0.88781  0.88795  0.0
9 2018-01-01 17:10:00  0.88792  0.88792  0.88770  0.88770  0.0

                 date       d1       d2       d3       d4    v
0 2018-01-01 17:01:00  0.88831  0.88831  0.88773  0.88773  0.0
1 2018-01-01 17:02:00  0.88800  0.88800  0.88800  0.88800  0.0
2 2018-01-01 17:03:00  0.88806  0.88806  0.88806  0.88806  0.0
3 2018-01-01 17:04:00  0.88806  0.88806  0.88806  0.88806  0.0
4 2018-01-01 17:05:00  0.88818  0.88818  0.88818  0.88818  0.0

In [2]:
%timeit df['year'] = pd.DatetimeIndex(df['date']).year
%timeit df['month'] = pd.DatetimeIndex(df['date']).month
%timeit df['week'] = pd.DatetimeIndex(df['date']).week
%timeit df['day'] = pd.DatetimeIndex(df['date']).day
%timeit df['hour'] = pd.DatetimeIndex(df['date']).hour

35.4 ms ± 1.39 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
34.4 ms ± 831 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
45 ms ± 5.85 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
35.9 ms ± 2.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
34.1 ms ± 937 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [4]:
from calendar import monthrange

In [ ]:
%timeit df['daysinmonth'] = df.apply(lambda row: monthrange(row['year'], row['month']), axis=1).str[1]